<% @products.each do |product| %>
<!-- max-height makes text disapear when on smaller screen -->
  <div class="item">
    <div class="card mb-3 stacked--left" style="max-width: 540px; max-height: 170px">
      <div class="row no-gutters">
        <div class="col-md-4 image">
          <%= link_to product_path(product) do %>
            <%= cl_image_tag product.photo.key, width: 180, height: 169, crop: :fill %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to product_path(product) do %>
              <%= product.name %></h5>
            <% end %>
            <p class="card-text description mt-3">
            <%= link_to product_path(product) do %>
              <%= product.content %></p>
            <% end %>
            <div class="price d-flex justify-content-between">
              <p class="card-text" style="color:red; font-weight:600"><%= link_to product_path(product), class: "btn btn-outline-danger" do %>Try Now!</p><% end %></small></p>
              <p class="card-text text-right"><small class="text-muted"><%= link_to product_path(product), class: "btn btn-success" do %>
                $<%= product.price %>0
              <% end %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

