<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div>
    <a><img class="icon navbar-brand p-0" style="color: red" href="/" src="https://res.cloudinary.com/dehuad3aa/image/upload/v1623223892/get-your-drums/icon.png" height="80">
    <%# <div class="speaker small flex-center circle1">
      <div class="ring small flex-center">
        <div class="b">B</div> %>
    </div></a>
  </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-3">
      <li class="nav-item">
        <%= link_to "All Drum Kits", products_index_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Producers", products_producers_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Machines", products_machines_path, class: "nav-link" %>
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Instruments", products_instruments_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Other Kits", products_other_kits_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-3 mb-2">
        <%= link_to sampler_show_path do %>
          <%= cl_image_tag("https://res.cloudinary.com/dehuad3aa/image/upload/v1623138044/get-your-drums/mpc.png",
      width: 80, height: 60, crop: :fill) %>
        <% end %>
        <!-- <%= link_to '""', pages_home_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li> -->

      <!--DROPDOWN-->
      <%# <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> %>
    </ul>

    <div class="login">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Account", accounts_show_path, class: "nav-link mr-2" %><span class="sr-only">(current)</span>
          </li>
          <li>
            <%# <i class="fas fa-circle mr-3 p-0"></i> %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-secondary" %>
          </li>
        <% else %>
          <li class="nav-item active">            
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>            
          </li>
          <li class="nav-item active">            
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link btn btn-success" %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--SEARCHBAR-->
    <%# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> %>
  </div>
</nav>

<!-- LOGO BAR -->
<nav id="logo" class="navbar-logo navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center align-items-baseline pt-0">
  <ul class="navbar-nav">
    <%= link_to "Beatmakers.com", pages_home_path, class:"logo", style:"font-family: Pacifico; font-size: 25px;" %>
  </ul>
</nav>