<div class="item">
  <div class="card mb-3 stacked--left" style="max-width: 540px; max-height: 170px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= link_to product_path(@product) do %>
          <%= cl_image_tag @product.photo.key, width: 180, height: 169, crop: :fill, class:'product-image' %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
          <%= link_to product_path(@product) do %>
            <%= @product.name %><span class="price-span">$<%= @product.price %>0</span>
          <% end %></h5>
          <p class="card-text description mt-3">
          <%= link_to product_path(@product) do %>
            <%= @product.content %></p>
          <% end %>
          <div class="add-to-cart d-flex justify-content-between">
            <p class="card-text" style="color:red; font-weight:600"><%= link_to sampler_path(@product), class: "btn btn-outline-danger" do %>Try Now!</p><% end %></small></p>
            <td>

        
            <%= form_for @order_item, remote: true  do |f|%>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <%= f.number_field :quantity, :value => 1, :min =>  1%>
              <%= f.submit "Add to Card "%>
            <% end %>
          </td>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- SECOND TRY
<div class="single-card">
  <%= cl_image_tag @product.photo.key, width: 250, height: 169, crop: :fill, class:"image-center" %>
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text"><%= @product.content %></p>
    <a href="#" class="btn btn-success">Add to Cart</a>
  </div>
</div>-->

        

