<h1>PRODUCTS</h1>

<div>
  <% @products.each do |product| %>
    <div class="card-product-inline m-4">
      <%= cl_image_tag product.photo.key, width: 350, height: 310, crop: :fill %>
      <div class="card-product-inline-infos p-3">
        <h2> <%= product.name %> </h2>
        <h6> <span class="text-product-inline"> <%= product.description %> </span></h6>
          <div class="d-flex justify-content-end mt-3">
          <%= link_to product_path(product), class: "btn btn-primary" do %>
            $<%= product.price %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
