<div class="carousel-inner d-flex">
  <% @products.each do |product| %>

    <div class="carousel-item active">
      <div class="row d-flex justify-content-between">
        <div class="col-md-3">
          <div class="card t-carousel-card" style="width: 18rem;">
            <%= cl_image_tag product.photo.key, width: 287, height: 192, crop: :fill, class:"t-image-center" %>
            <div class="card-body">
              <a href="#" class="green-button btn btn-success">$<%= product.price %>0</a> 
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.content %></p>
              <div class="t-add-to-cart d-flex justify-content-between">
                <p class="t-card-text" style="color:red; font-weight:600"><%= link_to sampler_path(product), class: "btn btn-outline-danger" do %>Try Now!</p><% end %></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>


<button id="clicker" >Other kits</button>

<div id="mydiv">

  <%= render 'shared/mpc' %>

</div>

<script>$("#clicker").load("app/views/products/other_kits.html.erb #mydiv");</script>
